.navbar{
    height: 10vh;
    background-color:rgb(35, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-logo{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100px;
        font-size: 1.5rem;
        text-decoration: none;
    }
    ul{
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    width: 70vw;
    .nav-item{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
    transition: all 0.5s ease-out;
    a{
        color: white;
        text-decoration: none;
    }
    &:hover{
        background-color: crimson;
        color: white;
        transform: scale(1.1);
    
    }
}
    }
    button{
        padding: 10px 20px;
        background-color: crimson;
       
        font-size: large;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        a{
            color: white;
            text-decoration: none;
        }
    }


}


.nav-item{
    display: flex;
    position: relative;
   align-items: center;
   height: 10vh;

}



